<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Choose a Role</title>
<link rel="stylesheet" type="text/css" href="css/angular-material.css">
<link rel="stylesheet" type="text/css" href="css/docs.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<link rel="stylesheet" type="text/css" href="css/tomas.css">
<link rel="stylesheet" type="text/css" href="css/pantheonPollMaster.css">
<link rel="stylesheet" type="text/css" href="bower_components/roboto/2014/roboto-woff.css">
</head>
<body ng-controller="appCtrl">
<div id="applicationContainer" layout="horizontal">
  <material-sidenav class="material-sidenav-left material-whiteframe-z2" component-id="left">
    <material-toolbar class="pantheonToolbar" ng-class="{template:isTmpl}" layout-align="center center"> <img src="assets/images/logo-small.png"> </material-toolbar>
    <material-content flex>
      <div layout="vertical" layout-align="end center"> 
        
        v0.0.6
        
      </div>
    </material-content>
  </material-sidenav>
  <div layout="vertical" layout-fill ng-class="{mainContentPolls:view,mainContentTemplates:!view}">
    <material-toolbar  id="appToolbar" scroll-shrink class="pantheonToolbar">
      <div layout="horizontal">
        <div class="material-toolbar-tools">
          <div id="menu-drawer-button" class="menu-icon" ng-click="toggleMenu()"> <img src="material-icons/icons/system_icons/navigation/res/1x_web/ic_menu_wht_24dp.png"> </div>
          <h2 id="appTitle" class="toolbarTitle">Choose a Role</h2>
        </div>
      </div>
    </material-toolbar>
    <div class="content-padding">
      <div class="card-container">
        <div id="bigLogo" class="pantheon-logo"><img src="assets/images/logo.png"></div>
        <div id="addRoleCard" class="roleCard" ng-click="addRoleDialog($event)" title="Add Role">
          <div class="inner-margin new-user"><img src="assets/images/black-avatar.png">
            <div class="roleName" title="Add a Role">Add a Role</div>
          </div>
        </div>
        <div class="roleCard" ng-repeat="(key, role) in roles" id="roleCard-{{key}}" ng-mouseover="role.menubar = true" ng-mouseleave="role.menubar = false">
          <div class="inner-margin">
            <div ng-click="switchRole(key)">
              <div id="roleAvatar-{{key}}"><img src="assets/images/avatar.png"></div>
              <div id="roleName-{{key}}" class="roleName">{{role.name}}</div>
              <!--<div id="roleDescription-{{key}}" class="roleDescription">This is a little description to show how this thing would look like</div>-->
            </div>
            <div id="hoverBar-{{key}}" class="editBar animate-show" ng-show="role.menubar" layout="horizontal" layout-align="end start">
              <material-button class="material-button-icon overflowMenuButton" ng-click="overflowToggle(role)" title="Overflow Menu"> <img class="overflowMenuIcon" ng-src="material-icons/icons/system_icons/action/res/1x_web/ic_drawer_wht_18dp.png"> </material-button>
            </div>
              <material-card id="overflowMenu-{{key}}" class="overflowMenu animate-show" ng-show="role.of && role.menubar"> 
              <a class="destroyAction" ng-really-message="Are you sure you want to delete this role and all of its data?" title="Delete Role" ng-really-click="destroyRole(key)">Delete Role</a>
              <!--<a title="Role Settings">Role Settings</a>-->
              </material-card>
          </div>
        </div>
      </div>
      <material-button id="fab" class="material-button-fab material-theme-light-blue fab" ng-click="addRoleDialog($event)" title="Add Role">
        <material-icon icon="material-icons/icons/system_icons/content/res/1x_web/ic_add_wht_24dp.png" style="width: 24px; height: 24px;"></material-icon>
      </material-button>
    </div>
  </div>
</div>
<script src="bower_components/angular/angular.js" type="text/javascript"></script> 
<script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script> 
<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script> 
<script src="js/angular-material.js" type="text/javascript"></script> 
<script src="bower_components/japi/mocks/mockJapi.js" type="text/javascript"></script> 
<script src="bower_components/japi/js/japi.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/roleJapi.js" type="text/javascript"></script>
</body>
</html>
